body {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.42857;
  -webkit-font-smoothing: antialised; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: green; }

.hidden {
  display: none; }

.loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999; }
  .loader .loader_inner {
    background-image: url("../img/preloader.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-posirion: center center;
    background-color: #fff;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
    left: 50%;
    top: 50%;
    position: absolute; }

section,
.main-head {
  position: relative; }

.main-head {
  min-height: 620px; }

.topbar {
  z-index: 100;
  float: top;
  width: 100%;
  position: fixed;
  background-color: #2280bd; }

.logo_container {
  width: 100%;
  float: left; }

.nav_logo {
  float: left;
  display: block;
  padding-top: 7px;
  padding-bottom: 7px; }
  .nav_logo img {
    height: 40px; }

.nav_name {
  float: left;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 10px;
  color: #fff; }

.sections_portal_wrap {
  height: 58px;
  float: right;
  display: block; }
  .sections_portal_wrap ul li {
    display: inline-block;
    margin-left: 10px; }

.top-wrapper {
  margin-top: 85px;
  display: table;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  text-align: center; }
  .top-wrapper .top-left-text {
    display: inline-block; }
    .top-wrapper .top-left-text h1 {
      padding-right: 30px;
      border-right: 1px solid #555;
      font-weight: 100;
      color: #555;
      font-size: 7.5em; }
  .top-wrapper .top-right-text {
    display: inline-block; }
    .top-wrapper .top-right-text p {
      margin-left: 30px;
      color: #555;
      font-size: 2.3em; }

.s-header h2 {
  text-align: center;
  font-size: 3.8em;
  font-weight: 100;
  letter-spacing: 2px;
  margin-top: 60px;
  margin-bottom: 100px;
  color: #555; }

.about-lines {
  display: block;
  padding-bottom: 60px; }
  .about-lines .my {
    display: inline-block;
    color: #2280bd; }
  .about-lines .line-text-wrap {
    display: inline-block;
    font-size: 1.5em; }

.line-1 {
  text-align: center;
  color: #555;
  font-size: 1.5em;
  padding-bottom: 85px; }

.line-2 {
  text-align: left;
  color: #555;
  margin-top: 15px; }

.line-3 {
  text-align: center;
  color: #555;
  font-size: 1.5em;
  padding-top: 35px; }

.info-box-wrap {
  margin-top: 85px;
  margin-bottom: 70px; }

.info-box img {
  width: 100%;
  margin-bottom: 30px; }

.spoiler-button {
  display: block;
  height: 80px;
  widows: 100%;
  margin-bottom: 60px; }
  .spoiler-button .button-text {
    float: left;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 3em;
    color: #fff;
    text-transform: uppercase; }
  .spoiler-button .toggle_mnu {
    width: 100%;
    height: 100%;
    background-color: #2280bd; }
    .spoiler-button .toggle_mnu span {
      display: block; }

.sandwich {
  width: 52px;
  height: 52px;
  float: right;
  margin-top: 14px;
  margin-bottom: 14px;
  margin-right: 18px; }

.sw-topper {
  position: relative;
  top: 0;
  width: 52px;
  height: 6px;
  background: white;
  border: none;
  transition: transform 0.5s, top 0.2s;
  display: block; }

.sw-bottom {
  position: relative;
  width: 52px;
  height: 6px;
  top: 13.2px;
  background: white;
  border: none;
  transition: transform 0.5s, top 0.2s;
  transition-delay: 0.2s, 0s; }

.sw-footer {
  position: relative;
  width: 52px;
  height: 6px;
  top: 27px;
  background: white;
  border: none;
  transition: all 0.5s;
  transition-delay: 0.1s; }

.sandwich.active .sw-topper {
  top: 20px;
  transform: rotate(-45deg); }
.sandwich.active .sw-bottom {
  top: 14px;
  transform: rotate(45deg); }
.sandwich.active .sw-footer {
  opacity: 0;
  top: 0;
  transform: rotate(180deg); }

.popup-frame-1 {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 650px;
  margin: 20px auto; }

.popup-frame-0 {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 900px;
  margin: 20px auto; }

.programs-frame-wrap {
  margin-top: 20px; }

.programs-text-wrap {
  margin-bottom: 25px; }
  .programs-text-wrap p {
    margin-bottom: 35px; }

.table-title {
  background-color: #2280bd; }
  .table-title p {
    color: #fff;
    font-size: 1em;
    font-weight: 400; }

.red-text {
  color: #f00f00; }

.programs {
  margin-bottom: 60px; }

.course-wrap {
  font-size: 1.8em;
  color: #2280bd;
  padding-bottom: 20px; }

.gallery {
  padding-top: 30px;
  padding-bottom: 30px; }

.form {
  padding-top: 30px;
  padding-bottom: 30px; }

.gallery-header h2 {
  text-align: center;
  font-size: 3.8em;
  font-weight: 100;
  letter-spacing: 2px;
  margin-top: 60px;
  margin-bottom: 30px;
  color: #fff; }

.gallery ul,
.gallery li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center; }
.gallery li {
  display: inline-block;
  margin: 10px 10px;
  text-transform: uppercase;
  font-size: 18px;
  cursor: pointer;
  line-height: 2; }
.gallery ul {
  margin-bottom: 50px; }

.gallery-item {
  display: none;
  padding: 0; }
  .gallery-item img {
    width: 100%; }
  .gallery-item .port_item_cont {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    padding-top: 15%;
    opacity: 0;
    transition: all 0.5s; }
  .gallery-item:hover .port_item_cont {
    opacity: 1;
    padding-top: 25%; }
  .gallery-item a {
    background-color: transparent;
    border: #fff 1px solid;
    padding: 8px 40px;
    display: inline-block;
    font-size: 2em; }

.podrt_descr {
  background-color: #fff;
  max-width: 850px;
  max-height: 250px;
  margin: auto; }
  .podrt_descr p,
  .podrt_descr h3 {
    padding: 20px;
    padding-bottom: 0; }
  .podrt_descr h3 {
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 20px;
    padding-top: 25px; }
  .podrt_descr p {
    margin-top: 0; }
  .podrt_descr img {
    width: 100%; }

.modal-box-content {
  position: relative; }

.map {
  margin-top: 30px; }
  .map iframe {
    width: 100%;
    max-height: 450px; }

.section_content {
  margin-bottom: 60px; }

.contacts-header h2 {
  text-align: center;
  font-size: 3.8em;
  font-weight: 100;
  letter-spacing: 2px;
  margin-top: 60px;
  margin-bottom: 30px;
  color: #555; }

.contact_info {
  text-align: center; }
  .contact_info .address {
    font-size: 1.1em;
    margin-bottom: 30px; }
    .contact_info .address i {
      font-size: 1.6em;
      color: #2280bd; }

.site_miet {
  font-size: 1.6em;
  color: #2280bd;
  margin-bottom: 40px; }

.cont-people {
  display: block;
  margin-bottom: 30px; }
  .cont-people .cont-1-wrap {
    display: inline-block;
    margin-right: 30px; }
    .cont-people .cont-1-wrap .cont-1 {
      text-align: left; }
  .cont-people .cont-2-wrap {
    display: inline-block; }
    .cont-people .cont-2-wrap .cont-2 {
      text-align: left; }

.howto-header h2 {
  text-align: center;
  font-size: 3.8em;
  font-weight: 100;
  letter-spacing: 2px;
  margin-top: 60px;
  margin-bottom: 70px;
  color: #555; }

.how-to-cont-title {
  text-align: center;
  font-size: 30px;
  color: #2280bd;
  margin-bottom: 35px; }

.terms {
  display: block;
  width: 100%;
  margin-bottom: 30px; }
  .terms .icon-terms {
    display: inline-block; }
    .terms .icon-terms i {
      font-size: 50px;
      color: #2280bd; }
  .terms .text-terms {
    display: inline-block; }
    .terms .text-terms p {
      font-size: 18px; }

.need-docs {
  margin-bottom: 25px;
  font-size: 16px; }
  .need-docs b {
    color: #2280bd;
    font-size: 20px;
    margin-right: 10px; }
  .need-docs p {
    margin-bottom: 15px; }

.warn {
  margin-bottom: 35px;
  font-size: 16px; }
  .warn b {
    color: #2280bd;
    font-size: 20px;
    margin-right: 10px; }

.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #2280bd; }
  .well legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 28px;
    line-height: inherit;
    border: 0;
    border-bottom: 1px solid #2280bd;
    color: #2280bd;
    text-align: center; }

.input-prepend {
  margin-bottom: 15px;
  display: block; }
  .input-prepend .add-on {
    width: 40px;
    display: inline-block;
    color: #2280bd;
    font-size: 28px;
    margin-left: 20px; }
  .input-prepend input {
    text-align: center;
    min-height: 30px;
    min-width: 200px;
    width: auto;
    display: inline-block; }

.span2 {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  min-height: 25px; }

.input-lage {
  width: 100%;
  text-align: center;
  margin-bottom: 25px; }

.btn-success {
  color: #fff;
  background-color: #2280bd;
  border-color: #2280ff; }

.btn-success:focus {
  color: #fff;
  background-color: #2280ff;
  border-color: #2280ff; }

/*# sourceMappingURL=main.css.map */
